# See https://www.dartlang.org/guides/libraries/private-files

# Files created by dart2js.
*.dart.js
*.js_
*.js.deps
*.js.map


# Files and directories created by pub
.buildlog
.dart_tool/
.packages
.pub/
build/
pubspec.lock
**/node_modules/

# Directory created by dartdoc
doc/api/
data_uploader/config-bharat.js
data_uploader/digital-guru-bharat-sa.json
data_uploader/digital-guru-service-account.json
